* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}
section {
  background-color: #222f3e;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 90%;
  max-width: 40rem;
  background-color: rgb(32, 56, 73);
  border-radius: .6rem;
  overflow: hidden;
  border: 0;
  outline: 0;
  margin: 1rem 0 1rem 0;
  box-shadow: .1rem .1rem .5rem gray;
}
.display {
  background-color: rgb(182, 182, 182);
  height: 10rem;
  width: 100%;
  text-align: right;
  padding: 2rem;
  font-size: 3rem;
  position: relative;
}
.display-1 {
  opacity: 0.4;
  font-size: 2rem;
  height: 2rem;
  overflow: hidden;
}
.temp-result {
  position: absolute;
  bottom: 0;
  left: 10;
  font-size: 2rem;
  opacity: 0.3;
}
.all_button {
  color: whitesmoke;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}
.button {
  border: 0.05rem solid rgba(163, 162, 162, 0.356);
  display: inline-block;
  border-radius: .3rem;
  height: 9.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(46, 50, 51);
  transition: all .5s ease-in-out;
}
.btn-0 {
  grid-column: 1/3;
}
